{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{{ titulo }}</title>
  </head>
  <body>
    <header class='display'>
      {% block content-header %}      
        <button class="btn-h"><a href="">Solicite uma Demostração</a></button>

        <label for="pesquisar">
          <a href=""><i class="fa-solid fa-magnifying-glass fa-2x" style="color: #c9c9c9;"></i></a>

          

          <input type="search" name="search" id="pesquisar" class="btn-h dis-no">
        </label>
      {% endblock content-header %}
    </header>

    {% block content-main %}
    
    {% endblock content-main %}


    <footer class="display">
      <p>by Robson Cerqueira</p>

      <section>
        <a href="">Ajuda</a>
        <span>|</span>
        <a href="">Suporte</a>
      </section>

    </footer>
  </body>
</html>