{% extends "base.html" %}

{% block content-main %}

<main class='main-cr'>
    <form action="{% url "signup" %}" method="POST" class='main-cr'>
        {% csrf_token %}
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control input" id="inputEmail4" name="email">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control input" id="inputPassword4" name="pass">
        </div>
        <input type="submit" value="Cadastrar" class="input btn btn-primary last-input">
    </form>
</main> 
{% endblock content-main %}